@import "src/common/utils";

.login {
  &__link,
  &__submit {
    font-family: $ff;
    font-size: $f-m;
    text-transform: uppercase;
    font-weight: bold;
    @include font-color;
  }

  &__submit {
    margin: 0 20px 0 0;
  }
}

.logout_button {
  margin: 0 1em;
}
