@import "src/common/vars";

$background: #433b6a;
$background-even: #433b6a;
$background-odd: #4d4574;

.topic__item {
  font-family: sans-serif;

  &:nth-child(odd) {
    background-color: $background-odd;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1em;

  & a {
    color: #bbf;
    font-weight: bold;

    &:visited {
      color: #bbf;
    }
  }

  &_header {
    display: flex;
    flex-direction: row;
    padding: 0.2em;

    &_description {
      flex: 9;
      border-right: 1px dotted;
      padding: 0.2em;
    }

    &_created {
      flex: 1;
      border-right: 1px dotted;
      padding: 0.2em;
      text-align: center;
    }

    &_time {
      flex: 1;
      border-right: 1px dotted;
      padding: 0.2em;
      text-align: center;
    }

    &_count {
      flex: 1;
      padding: 0.2em;
      text-align: center;
    }
  }

  &_message {
    border-top: 1px dotted;
    width: 100%;
    padding: 0.5em 0.5em 2em;
    font-size: 0.8em;
  }
}
