@import "src/common/common";

.user_info {
  display: flex;
  flex-direction: column;
  &_field {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    &_name {
      flex: 2;
      margin: 0.5em;
      & a {
        @include link-color;
        font-weight: bold;

        &:visited {
          @include link-color;
        }
      }
    }
    &_value {
      margin: 0.5em;
      flex: 4;
      & a {
        @include link-color;
        font-weight: bold;

        &:visited {
          @include link-color;
        }
      }
    }
  }
  &_list {
    display: flex;
    flex-direction: row;
  }
}

.center {
  text-align: center;
}
