$background-color: linear-gradient(145deg, #433b6a, #4f467e);
$shadow: 21px 21px 35px #312b4e, -21px -21px 35px #63579e;
$shadow-small:  6px 6px 11px #312b4e, -6px -6px 11px #63579e;
$form-background-color: linear-gradient(145deg, #433b6a, #4f467e);
$form-border-radius: 50px;

// FONT STYLES
$fc-dark: #000000;
$fc: rgba(255, 255, 255, 0.87);
$ff: Roboto;
$f-xs: 8px;
$f-s: 13px;
$f-m: 16px;
$f-l: 18px;
$f-xl: 24px;
$f-xxl: 32px;
