@import 'src/common/common';

.button {
  font-size: $f-s;
  font-family: $ff;
  line-height: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  @include font-color;
  @include background-color;
  @include shadow-small;
  margin: 0.5em;
  transition: all linear 0.3s;

  &:active {
    transition: all linear 0.3s;
    transform: scale(0.7);
  }

  &_type_rounded {
    padding: 16px;
    border-radius: 16px;
  }

  &_type_rect {
    padding: 10px 16px;
    border-radius: 2px;
  }

  &_secondary {
    background-color: $secondary-btn;
  }

  &_primary {
    background-color: $primary-btn;
  }
}
