@import "src/common/utils";

.leaderboard {
  height: 100vh;
  padding: 48px;

  &__list {
    margin: 0 auto;
  }
}

.leaderboard-header {

  & > .active {
    font-weight: bold;
    text-decoration: underline;
  }

  &__index {
    cursor: pointer;
    width: 4%;
    margin-right: 2%;

    @include f-norm(m);
  }

  &__score {
    cursor: pointer;
    @include f-norm(m);
  }


  &__level {
    margin-right: 2%;
    @include f-norm(m);
  }

  &__name {
    margin-right: auto;

    @include f-bold(m);
  }

  &__avatar {
    width: 48px;
    height: 48px;
    margin-right: 8%;
    object-fit: cover;
    border-radius: 50%;
  }
}
