$mobile: 600px;
$s-tablet: 920px;
$tablet: 1200px;

// Media queries

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $mobile - 1px) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $tablet - 1px) {
      @content;
    }
  } @else if $media == s_tablet {
    @media only screen and (max-width: $s-tablet - 1px) {
      @content;
    }
  }
}
