$secondary-btn: #03dac5;
$primary-btn: #bb86fc;
$error: #cf6679;

$background-color: linear-gradient(145deg, #433b6a, #4f467e);
$background-color-white: linear-gradient(145deg, #dad3f5, #b2a2f5);
$shadow: 21px 21px 35px #312b4e, -21px -21px 35px #63579e;
$shadow-white: 21px 21px 35px #dad3f5, -21px -21px 35px #b2a2f5;
$shadow-small:  6px 6px 11px #312b4e, -6px -6px 11px #63579e;
$shadow-small-white:  6px 6px 11px #dad3f5, -6px -6px 11px #b2a2f5;
$form-border-radius: 50px;
$link-color: rgba(200, 200, 255, 1);
$link-color-white: rgb(48, 48, 62);

// FONT STYLES
$fc-dark: #000;
$fc: rgba(255, 255, 255, 0.87);
$ff: roboto;
$f-xs: 8px;
$f-s: 13px;
$f-m: 16px;
$f-l: 18px;
$f-xl: 24px;
$f-xxl: 32px;

// forum
$forum-topic-header-background: #444;
$forum-topic-header-color: #fff;
$forum-header-background: #555;
$forum-header-color: #eee;
$forum-message-background: #444;
$forum-message-color: #ddd;
$forum-message-header-border: 1px solid $forum-message-background;
