@import "src/common/utils";

html,
body, {
  color: $fc;
  background: $background-color;
  min-width: 360px;
  box-sizing: border-box;
}

.root_theme_white {
  background: $background-color
}

*,
::after,
::before {
  list-style: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}
