@import "src/common/utils";

html,
body, {
  //@include font-color;
  //@include background-color;
  min-width: 360px;
  box-sizing: border-box;
}

*,
::after,
::before {
  @include font-color;
  list-style: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}
