$aqua: #03dac5;
$violet: #bb86fc;
$red: #cf6679;
// forum
$forum-topic-header-background: #444;
$forum-topic-header-color: #fff;
$forum-header-background: #555;
$forum-header-color: #eee;
$forum-message-background: #444;
$forum-message-color: #ddd;
$forum-message-header-border: 1px solid $forum-message-background;
